<div
  class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-[100vw] overflow-hidden">
  <div class="flex flex-col items-center justify-center">
    <div class="rounded-md">
      <div class="w-full rounded-md bg-surface-0 dark:bg-surface-900 pb-6">
        <div
          class="text-surface-900 text-left dark:text-surface-0 text-3xl font-medium border-b border-b-neutral-200 py-11 px-7 mb-4">
          Sign in</div>

        <form [formGroup]="signinForm" class="px-7">
          <label for="email" class="block text-surface-900 dark:text-surface-0 text-base font-normal mb-2">Email</label>
          <input pInputText id="email" type="text" placeholder="Enter your email address"
            class="w-full md:w-[30rem] mb-8" formControlName="email" />

          <label for="password"
            class="block text-surface-900 dark:text-surface-0 font-normal text-base mb-2">Password</label>
          <p-password id="password" formControlName="password" placeholder="Enter your password" [toggleMask]="true"
            styleClass="mb-8" [fluid]="true" [feedback]="false"></p-password>

          <p-button [severity]="'primary'" label="Sign in" styleClass="w-full" (onClick)="onSignin()"></p-button>
          <div class="flex items-center justify-center mt-3.5 gap-1.5">
            <span class="font-medium text-right text-base">Don't have an account?</span>
            <p-button severity="info" label="Sign up now" styleClass="w-full" routerLink="/authentication/sign-up"
              [link]="true" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>